<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/app.css">
</head>
<body class="theme-light">
<header>
    <div class="header-left">
        <a class="header-logo" href="#">
            <img src="../img/logo.svg" height="50px" alt="logo">
            Bookmarks<span style="color: var(--dark-red)">Box</span>
        </a>
    </div>
    <div class="header-right">
        <button class="btn btn-outlined">Se connecter</button>
        <button class="btn">S'incrire</button>
    </div>
</header>

</body>
</html>
