.navbar{
  position: fixed;
  height: 100%;
  width: 15%;
  padding: 0;
  background-color:  var(--white);
  color: var(--dark);
  box-shadow: 6px 0px 6px rgba(0, 0, 0, 0.25);
  overflow-y: auto;
  z-index: -1;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 20%;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #353535;
}


.nav-container{
  display: flex;
  flex-direction: column;
  & li{
    display: flex;
    align-items: center;
  }
  & span{
    margin: 10px;
  }
  & li:hover{
    background-color: var(--current);
  }
  & .items-secondary{
    margin-left: 20px;
  }
  & .picture{
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: black;
  }
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.dashboard-header{
  padding: 1rem;
}

.margin-20{
  margin-left: 17%;
}

.cancel-padding{
  margin: -1rem -2rem;
}
