.settings {
  position: relative;
  height: calc(var(--windowHeight) - 110px);

  & .second-menu {
    left: 281px;
    box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.25);
  }

  & .menu-settings {
    width: 280px;
    top: 0;
    height: inherit;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    transition: all ease .3s;
    padding: 10px;

    @include screen-down(600px) {
      width: 100%;
    }

    & .equipe a {
      justify-content: space-between !important;

      & div {
        display: inline-flex;
        align-items: center;
      }

      & span.material-icons {
        color: var(--yellow);
      }
    }

    & .menu__row {
      padding: 5px;
      cursor: pointer;
      position: relative;
      color: var(--dark);
      transition: all ease .2s;
      border-radius: 0 25px 25px 0;

      &:hover > a > span.hide_on_hover {
        display: none;
      }

      &:hover > .menu__row__hover {
        visibility: visible;
      }

      &__hover {
        border-radius: 50%;
        display: inline-block;
        height: 100%;
        position: absolute;
        right: 5px;
        top: 0;
        visibility: hidden;

        &__content {
          height: 100%;
          display: flex;
          align-items: center;

          & > span {
            cursor: pointer;
            display: inline-block;
            margin-left: 8px;
            padding: 4px;
            position: relative;
            transition: .15s transform;
          }
        }
      }

      &:hover, &:focus {
        background-color: rgba(0, 0, 0, 0.20);
      }

      & span:not(.material-icons) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-left: 10px;
      }

      & > span.material-icons {
        margin-right: 10px;
      }

      & a {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        & .team__icon {
          --size: 25px;
          width: var(--size);
          height: var(--size);
          border-radius: 25px;
        }
      }
    }

    & > aside > .menu__row {
      margin-left: 15px;
    }
  }

  @include screen-down(600px) {
    width: 100%;
  }

  & > aside > .menu__row {
    margin-left: 15px;
  }
}

.line {
  height: 2px;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.10);
  margin: 10px 15px;
}

.content {
  transition: all ease .3s;
  padding: 10px;
  margin-left: 561px;
  height: calc(100% - 5px);
  overflow-y: scroll;
}

.settings-container {
  margin: 20px;

  & form {
    display: flex;
    flex-direction: column;
  }

  & form label {
    margin: 15px 0 15px;
  }
}
