.team {

  @include screen-up(800px) {
    & > a > img {
      width: 150px;
      height: 150px;
    }
  }

  & .cards__hover > a {
    transition: all ease .3s;
    color: var(--dark);

    &:hover {
      transform: scale(1.27);
    }
  }
}

#add-members > label {
  width: 50%;
  @include screen-down(600px){
    width: 100% !important;
  }
}
