// TOOLS
@import "tools/reset";
@import "tools/mixins";
@import "tools/typography";

//GENERAL

:root {
  --white: #ffff;
  --dark: #0C0C0C;
  --red: #EC4E4F;
  --green: #27AE60;
  --yellow: #F39C12;
  --links: #0b4f7a;
  --primary: #3498DB;
  --secondary: #353535;
  --border: #B1B1B1;
  --background: #f7fafb;
  --dark-red: #B00000;
}

@include dark-theme {
  --white: #515151;
  --dark: #FFFFFF;
  --red: #EC4E4F;
  --green: #27AE60;
  --yellow: #b5790d;
  --primary: #0b4f7a;
  --secondary: #ffffff;
  --border: #EDEDED;
  --background: #353535;
  --dark-red: #ff7070;
}

body {
  background-color: var(--background);
  font-family: "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system, serif;
  color: var(--dark);
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: var(--primary);
}

//MODULES
@import "modules/alert";
@import "modules/button";
@import "modules/card";
@import "modules/input";
@import "modules/switch";
@import "modules/links";

//PAGES
@import "page/auth/login";
@import "page/auth/2fa";
@import "page/auth/register";
@import "page/header";
@import "page/footer";
