<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/app.css">
</head>
<body>
<div class="container card">
    <h1>2FA</h1>
    <form action="">
        <div class="form-group">
            <div class="input-auth">
                <label for="code">Entrez votre code de double authentification.</label>
                <input type="text" id="code" placeholder="code">
            </div>
            <div class="btn-2fa">
                <div class="btn-font">
                    <input type="submit" value="Connexion" class="btn normal">
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>