@import "../tools/functions";
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background:var(--background);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);

  & a {
    display: flex;
    align-items: center;
    color: var(--dark);

    & svg {
      margin-right: 10px;
    }
  }

  #box path {
    fill: var(--dark);
  }

  .header-logo {
    font-size: 30px;
    font-weight: bold;
    font-family: Roboto, serif;
  }

  .header-right button:not(:last-child) {
    margin-right: 5px;
  }

  @include screen-down(640) {
    flex-direction: column;
    .header-right {
      padding-top: 10px;
      & button {
        margin: 0;
      }
    }
  }
}
