.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  @include screen-down(600) {
    flex-direction: column;
    align-items: center;
  }
}

.flex-gap-20 {
  gap: 20px;
}
