a {
  font-weight: 450;
  cursor: pointer;
  outline: none;
  will-change: transform, opacity;
  text-decoration: none;
  user-select: none;
  overflow: visible;
  border: none;

  position: relative;
  transition: clip-path 275ms ease;

  &:hover span::before, &:focus span::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  & span {
    position: relative;
    display: inline-block;
    &::before {
      position: absolute;
      content: attr(data-content);
      text-decoration: underline;
      clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
      transition: clip-path 275ms ease;
    }
  }
}
