@for $i from 10 through 30 {
  .margin-#{$i} {
    margin: #{$i}px 0;
  }
}
@for $i from 10 through 30 {
  .margin-top#{$i} {
    margin-top: #{$i}px;
  }
}
@for $i from 10 through 30 {
  .margin-bottom#{$i} {
    margin-bottom: #{$i}px;
  }
}



