.materialboxed {
  cursor: zoom-in;
  position: relative;
  transition: opacity .4s;

  &:hover:not(.active) {
    opacity: .8
  }
  & .active {
    cursor: zoom-out;
  }
}

#materialbox-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #292929;
  z-index: 1000;
  will-change: opacity
}
