[data-tab-content] {
  display: none;
  padding-top: 20px;
}

.active[data-tab-content] {
  display: block;
}

.tabs {
  display: flex;
  flex-direction: row;
  padding-bottom: 4px;
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
  gap: 15px;

  @include screen-down(600px){
    flex-direction: column;
  }

  & > li > a {
    padding: 5px;
  }

  & > li > a.active {
    transition: all ease .3s;
    border-radius: 3px 3px 0 0;
    background-color: var(--dark);
    color: var(--white);

    @include screen-down(600px){
      border-radius: 0 25px 25px 0;
    }
  }
}
