.flex-center{
  display: flex;
  justify-content: center;
  align-content: center;
}

.container{
  margin-left: auto;
  margin-right: auto;
}

.card{
  & .form-group {
    margin-top: 45px;


    &> .input-auth {
      margin-top: 10px;
    }

    & .input-auth > label {
      width: 100%;
    }
  }
  & input:not([type="submit"]){
    width: 100%;
    text-align: left;
  }
  & input[type="submit"] {
    width: 70%;
  }
  & .line-separator {
    width: 20%;
    border-bottom: 1px solid #B1B1B1;
    margin: 10px auto;
  }
  & .button{
    margin: 10px;
  }
}
